!! ~/.Xresources

Emacs.font: Ricty-14
Emacs.lineSpacing: 0

Emacs.geometry: 205x50-30+50

Emacs.cursorBlink: off
Emacs.coursorColor: dark green

Emacs.menuBar: on
Emacs.toolBar: off
Emacs.tabBar: on
Emacs.verticalScrollBars: off
