!! ~/.Xresources

!Emacs.font: Ricty Diminished-14
Emacs.font: Noto Sans Mono CJK JP
!Emacs.lineSpacing: 10

Emacs.geometry: 205x50-30+50

Emacs.cursorBlink: off
Emacs.coursorColor: dark green

Emacs.menuBar: on
Emacs.toolBar: off
Emacs.tabBar: on
Emacs.verticalScrollBars: off
